<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #1685d4;">
    <a class="navbar-brand" href="#">DreamDrop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.handlebars">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="sign-in.handlebars">Sign-In<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="dreams.handlebars">Dreams<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.buildingbeautifulsouls.com/dream-interpretation-meanings/30-types-of-dreams-what-they-mean/" target="_blank">Dream Types</a>
          <a class="dropdown-item" href="https://www.horoscope.com/us/editorial/dream-dictionary.aspx" target="_blank">Dream Dictionary</a>
          <a class="dropdown-item" href="https://www.amerisleep.com/blog/dream-hacking/" target="_blank">Dream Hacking</a>
        </div>
      </li>
        </ul>
    </div>
</nav>