<!--Navbar-->
<nav id="nav" class="navbar navbar-light navbar-1 white" class="example z-depth-5" >

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Dream Drops</a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
      aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon1"><span></span><span></span><span></span></div>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent20" >
  
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/views/index.handlebars">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/views/sign-in.handlebars">Sign-In<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/views/dreams.handlebars">Dreams<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="clock.handlebars">Alarm<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://facthacker.com/different-types-of-dreams/" target="_blank">Types of Dreams</a>
          <a class="dropdown-item" href="https://www.horoscope.com/us/editorial/dream-dictionary.aspx" target="_blank">Dream Dictionary</a>
          <a class="dropdown-item" href="https://www.amerisleep.com/blog/dream-hacking/" target="_blank">Dream Hacking</a>
        </div>
      </li>
        </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->