{{!-- Navbar to display in all pages --}}
{{> header}}
<head><script src='/clock.js'></script></head>
<body>

	<div class="container-fluid">
		<div id='main-container'>
			<h2 id='clock'></h2>

			<h4>Set The Alarm. Sleep On It! Then Drop Those Sweet Dreams!</h4>
		</div>
		<h3>Alarm Clock</h3>
		<div class="wrapper">
			<label>Alarm Time</label>
			
				<input type="time" name="" class="alarm-time" />
					<button class="btn-alarm">Set Alarm</button>
					<div class="options">
						<button class="btn-snooze">Snooze for 5s</button>
						<button class="btn-stopalarm">Stop Alarm</button>
					</div>
    </div >
			
</body>