{{!-- Navbar to display in all pages --}}
{{> header}}

<body>
	<div id='main-container'>
		<h2 id='clock'></h2>
	</div>

	<div id='alarm-container'>
		<h3>Set Alarm Time</h3>
		<label>
			<div>
				<select id='alarmhrs'></select>
			</div>
		</label>
		<label>
			<div>
				<select id='alarmmins'></select>
			</div>
		</label>
		<label>
			<div>
				<select id='alarmsecs'></select>
			</div>
		</label>
		<label>
			<div>
				<select id="ampm">
					<option value="AM">AM</option>
					<option value="PM">PM</option>
				</select>
			</div>
		</label>
	</div>
	</div>

	<div id='buttonHolder'>
		<div>
			<button id='setButton' onClick='alarmSet()' class="btn btn-info btn-lg">Set Alarm</button>
		</div>

		<div>
			<button id='clearButton' onClick='alarmClear()' class="btn btn-info btn-lg">Clear Alarm</button>
		</div>
	</div>

	<script type='text/javascript' src='../public/assets/js/clock.js'></script>
</body>

