{{> header}}

<main>
    <div class="container" id="splashbox">
        <div class="row">
            <div class="col-lg-12">
                <h1>Welcome to DreamDrop!</h1>
                <h4>A place to share your dreams with other dreamers</h4>
                <div>
                    <button type="button" href="sign-in.handlebars" role="button" class="btn btn-primary btn-lg btn-block">Start
                        Dropping Dreams Now</button>
                </div>
            </div>
        </div>
    </div>
</main>