{{!-- Navbar to display in all pages --}}
{{> header}}

{{!-- Landing Page --}}
<main>
    <div class="container" id="splashbox">
        <div class="row">
            <div class="col-lg-12">
                <h1>Welcome to DreamDrop!</h1>
                <h4>A place to share your dreams with other dreamers</h4>
                <div>
                    <a href="sign-in.handlebars" role="button" class="btn btn-info btn-lg btn-block">Start
                        Dropping Dreams Now</a>
                </div>
            </div>
        </div>
    </div>
</main>