{{> header}}

{{!-- Form to update dream data --}}
<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="splashbox">
            <h5 class="display-4">Update Your Dream Here:</h5>
            <form action="/dreams" method="POST" class="dream_create">
                <div class="form-group">
                    <label for="dream_description">Describe Your Dream Here:</label>
                    <textarea class="form-control" rows="5" id="dream_description" name="dream_description"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="category">Which of the following categories would you say your dream was?</label>
                        <select class="custom-select" name="category">
                            <option selected>Please Choose One</option>
                            <option value="Daydream">Daydream</option>
                            <option value="Lucid Dream">Lucid Dream</option>
                            <option value="Nightmare">Nightmare</option>
                            <option value="Recurring Dream">Recurring Dream</option>
                            <option value="Healing Dream">Healing Dream</option>
                            <option value="Prophetic Dream">Prophetic Dream</option>
                            <option value="Signal Dream">Signal Dream</option>
                            <option value="Epic Dream">Epic Dream</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="mood">Which of the following most closely reflects your mood when you went to
                            sleep?</label>
                        <select class="custom-select" name="mood">
                            <option selected>Please Choose One</option>
                            <option value="Tense-Nervous">Tense-Nervous</option>
                            <option value="Irritated-Annoyed">Irritated-Annoyed</option>
                            <option value="Excited-Lively">Excited-Lively</option>
                            <option value="Cheerful-Happy">Cheerful-Happy</option>
                            <option value="Bored-Weary">Bored-Weary</option>
                            <option value="Gloomy-Sad">Gloomy-Sad</option>
                            <option value="Relaxed-Carefree">Relaxed-Carefree</option>
                            <option value="Calm-Serene">Calm-Serene</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="food">What did you eat before sleeping?</label>
                    <input type="text" class="form-control" id="food" placeholder="Enter Food Here" name="food">
                </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="hours_of_sleep">How many total hours did you sleep?</label>
                <input type="number" class="form-control" id="hours_of_sleep" placeholder="Enter Number Here"
                    name="hours_of_sleep">
            </div>
            <div class="form-group col-md-6">
                <label for="tv_on">Did you fall asleep with the television on?</label>
                <select id="tv_on" class="form-control" name="tv_on">
                    <option selected>Please Choose One</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
        <button id="updateDreamBtn" type="submit" class="btn btn-info btn-lg">Update Dream</button>
        </form>
    </div>
    </div>