body {
  background-image: url("/assets/images/action-astronomy-constellation-1274260.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: aliceblue;
  margin: 0;
  z-index: 2;
  font-family: 'Quicksand', sans-serif;
  
  padding-bottom: 80vh;

}
#nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.container-fluid{
  background: rgba(0,0,0,0.4)!important;
  position: relative;
  top: 180px;
  max-width:600px;
   
  }
h1 {
  font-family: 'Pacifico', regular;
  text-align: center;
  font-size: 190px;
  text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 125px;
}

.display-4 {
  color: rgb(252, 245, 245);
  font-size: 30px;
  position: relative;
  top: 45px;
}
.display-5 {
  color: rgb(252, 245, 245);
  font-size: 30px;
  position: relative;
  top: 10px;
}


h5 {
  font-family: 'Pacifico', regular;
  font-size: 30px;
  color: white;
  text-shadow: 0px 3px 0px #f3f2f0,
    0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
}
h4 {
  font-family: 'Pacifico', regular;
  text-align: center;
  font-size: 30px;
  text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
}

.signdrop {
  text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
}

.typewriter h4,h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
  
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .16em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    /* border-top: 500px; */
    position: relative;
    top: 125px;
}


@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}


@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: black;
  }
}

.splashbox {
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;

}




.container {
  height: 100%;
  align-content: center;
  z-index: 1;
  color: aliceblue;

}


@media(max-width:960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

#main-container {
  text-align: center;
}